.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.weatherClass {
  color: white;
}

.loginClass {
  color: white;
  font-size: 30px;
  font-style: initial;
}

.clockTime {
  color: white;
  font-size: 100px;
  font-style: oblique;
}

.hidden {
  display: none;
}
.weather-box {
  display: flex;
  justify-content: flex-end;
}
.clock-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.main-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.list-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: lemonchiffon;
}
input {
  height: 30px;
  border-radius: 5px;
}
